/* Barra de navegação */
nav{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    padding-top: 1vw;
    z-index: 2;

}

nav img{
    height: 1.5vw;
    width: 10vw;
    cursor: pointer;
    margin-top: 0.5vw;
}

nav button{
    width: 9vw;
    height: 2.5vw;
}

nav div{
    margin-top: 0.5vw;
    display: flex;
    gap: 3vw
}

/* Menu */

#l1{
    height: 49.2vw;
    display: flex;
}


#menu{
    width: 100%;
    position: absolute;
    justify-content: space-around;
    display: flex;
    gap: 30vw;
}
#logo{
    z-index: 0;
    margin: 14vw 0 0 2vw ;
    width: 28vw;
    position: absolute;
    display: flex;
}

#menu article{
    margin-top: 18vw;
    height: 10vw;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

#menu #sep1 button{
    width: 12vw;
    height: 2.8vw;
    z-index: 3;
}
#menu #sep2 div {
    z-index: 4;
}


#menu p{
    width: 20vw;
}

#sep2 p{
    text-align: right;
}
#sep1 p{
    text-align: left;
}

#sep_btns_menu a img{
    margin: 0 0 0 0;
    width: 1.5vw;
}

#sep_btns_menu {
    gap: 1vw;
    display: flex;
    justify-content: end;
}

#fundo{
    z-index: -1;
    position: absolute;
    margin-top: 9VW;
    width: 100%;
}

spline-viewer{

    width: 115vw;
    z-index:1;
}

/* Sobre */

#l2{
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-branco);
    height: 30vw;
    padding: 3vw 13vw 0vw 13vw;
}

#l2 div{
    padding-top: 3vw;
    width: 40vw;
    flex-direction: column;
    display: flex;
    gap: 0.5vw;
}

#l2 div h2{
    text-align: left;
}

#l2 div p{
    text-align: left;
    width: 33vw;
}

#l2 div button{
    margin-top: 1vw;
}

#l2 div img{
        z-index: 10;
        width: 6vw;
        position: absolute;
        margin-top: 18vw;
}

#l2 section{
    z-index: 10;
    display: flex;
    width: 30vw;
}

#inst1{
    width: 30vw;
    position: absolute;
    margin: 0 0 0 4vw
}

#inst2{
    width: 20vw;
    position: absolute;
    margin: 3vw 0 0 0;
}
#inst3{
    width: 18vw;
    position: absolute;
    margin: 11vw 0 0 22vw;
}

/* Projetos */

#l3{
    background-color: var(--cor-branco);
    display: flex;
    width: 100%;
    height: 105.35VW;
}

.dec_l3{
    width: 23vw;
    height: 70vw;
    margin-top: 10vw;
}

#l3 main{
    flex-direction: column;
    border-radius: 2vw;
    background-color: var(--cor-preto);
    display: flex;
    width: 100%;
}

#l3 main article{
    display: flex;
}

#l3 main article figure img{
   width: 35vw;
}

#l3 main article div{
    border-radius: 2vw;
    width: 30.8vw;
    height: 34.9vw;
}

#l3 main article div p {
    margin: 6vw auto;
    font-size: 1.2vw;
    text-align: left;
    width: 20vw;
}

#l3 main article div img {
    position: absolute;
    display: flex;
    margin-left: 5vw;
    width: 4vw;
}

#img3p{
    border-radius: 0 0 0 2vw;
}

#img1p{
    border-radius: 2vw 0 0 0;
}




