/* Barra de navegação */
nav{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    padding-top: 1vw;
    z-index: 2;

}

nav img{
    height: 1.5vw;
    width: 10vw;
    cursor: pointer;
    margin-top: 0.5vw;
}

nav button{
    width: 9vw;
    height: 2.5vw;
}

nav div{
    margin-top: 0.5vw;
    display: flex;
    gap: 3vw
}

/* Menu */

#l1{
    height: 49.2vw;
}


#menu{
    width: 100%;
    position: absolute;
    justify-content: space-around;
    display: flex;
    gap: 30vw;
}
#logo{
    margin: 14vw 0 0 2vw ;
    width: 28vw;
    position: absolute;
    display: flex;
}

#menu article{
    margin-top: 18vw;
    height: 10vw;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

#menu #sep1 button{
    width: 12vw;
    height: 2.8vw;
    z-index: 3;
}
#menu #sep2 div {
    z-index: 4;
}


#menu p{
    width: 20vw;
}

#sep2 p{
    text-align: right;
}
#sep1 p{
    text-align: left;
}

#sep_btns_menu a img{
    margin: 0 0 0 0;
    width: 1.5vw;
}

#sep_btns_menu {
    gap: 1vw;
    display: flex;
    justify-content: end;
}

section img{
    margin-top: 9VW;
    width: 100%;
}

spline-viewer{
    position: absolute;
    width: 120vw;
    z-index:1;
}

/* Sobre */

#l2{
    background-color: antiquewhite;

    height: 30vw;
}

